Confluence REST API client
Copyright 2017 Luca Tagliani

This product is based on software originally developed by Christian Schulze (c.schulze@micromata.de) at Micromata GmbH and Martin Böhmer.
See headers of source files for details.

This product makes use of the following software libraries:

#GENERATED_NOTICES#